<h1>All Contacts</h1>

<ul>
<% Contact.all.each do |contact| %>
  <p><contactentries><ul><%= contact.id %>. <%= contact.first_name %> <%= contact.last_name %> <email>(<%= contact.email %>)</email></ul>
   <ul><%= contact.note %></contactstyle></ul></p>
<% end %>
</ul>
