<div class="mainheader"><%= @crm_app_name %></div>

<div class="subscript"><%= "KEEPING THE CITY OF TOMORROW CONNECTED TODAY" %></div>

  <div class="linkbars"><a id="homebar" href="/">HOME</a></div>
  <div class="linkbars"><a id="addnew" href="/contacts/new">ADD A NEW CONTACT</a></div>
  <div class="linkbars"><a id="about" href="/about">ABOUT</a></div>

  <div class="contactcount">You have <b><a href="/contacts"><%= Contact.all.length %></a></b> Metropolitan contacts.</div>

  <ul>
  <% Contact.all.each do |contact| %>
    <ul class="contactentries"><b><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email%>)</b>
    <br><%=contact.note %></br></ul>
    <ul class="contactoptions"> <a href="/contacts/<%=contact.id%>/edit">Edit</a> | <a href="/contacts/<%=contact.id%>/delete">Delete </a></ul>
  <% end %>
  </ul>


<h4><p class="date" style="color:#333399"><%= DateTime.now.strftime("Today's date is %d/%m//%Y")%></p>
  <p class="date" style="color:#BBBBBB"><%= "©Bitmaker Labs 2017"%></p></h4>
