<main-header><%= @crm_app_name %></main-header>
<subheader><%= "KEEPING THE CITY OF TOMORROW CONNECTED TODAY" %></subheader>

  <div><homebar><a href="/">HOME</a></homebar></div>

  <div><addnew><a href="/contacts/new">ADD A NEW CONTACT</a></addnew></div>

  <ul>
  <% Contact.all.each do |contact| %>
    <ul><%= contact.first_name %> <%= contact.last_name %> <email>(<%= contact.email %>)</email></ul>
     <ul><position><%= contact.note %></position></ul>
  <% end %>
  </ul>


  <!-- please complete me with links to other actions -->



<h6><p style="color:#333399"><%= DateTime.now.strftime("Today's date is %d/%m//%Y") %></p></h6>
